<div class="p-2 text-center bg-light">
	<h1 class="mb-2">Reset Password Form</h1>
</div>
<div class="mx-auto col-10 col-md-8 col-lg-6 row">
	<h2 *ngIf="loginError" class="text-danger">No Account with this email found</h2>
    <h2 *ngIf="loginError1" class="text-danger">Invalid Code</h2>
    <h2 *ngIf="loginError2" class="text-danger">Cannot reset password</h2>
</div>

<form [formGroup]="resetForm" *ngIf="!submitted">
	<div class="mx-auto col-10 col-md-8 col-lg-6 row">
        <div class="col-lg-15 mb-6 p-2">
			<label for="validationDefaultUsername">Email</label>
			<input type="email" class="form-control" formControlName="id" id="validationDefaultUsername"
				placeholder="Email" aria-describedby="inputGroupPrepend2" required>
			<mat-error
				*ngIf="resetForm.controls['id'].errors?.['required'] && resetForm.controls['id'].touched">Email
				is required</mat-error>
			<mat-error
				*ngIf="(!resetForm.controls['id'].errors?.['required'] && resetForm.controls['id'].invalid) && resetForm.controls['id'].touched">Email
				format is invalid</mat-error>
		</div>
        <div class="col-md-6 mb-2" *ngIf="resetForm.valid">
            <button class="btn btn-primary col-lg-15" (click)="resetPassword()">Send Code</button>
        </div>
    </div>
</form>

<form [formGroup]="verifyForm" *ngIf="submitted1">
	<div class="mx-auto col-10 col-md-8 col-lg-6 row">
        <div class="col-lg-15 mb-6 p-2">
			<label for="validationDefaultUsername">Code</label>
			<input type="number" class="form-control" formControlName="code" id="validationDefaultUsername"
				placeholder="Code" aria-describedby="inputGroupPrepend2" required>
			<mat-error
				*ngIf="verifyForm.controls['code'].errors?.['required'] && verifyForm.controls['code'].touched">Code
				is required</mat-error>
			<mat-error
				*ngIf="(!verifyForm.controls['code'].errors?.['required'] && verifyForm.controls['code'].invalid) && verifyForm.controls['code'].touched">Code is only 6 digits</mat-error>
		</div>
        <div class="col-md-6 mb-2" *ngIf="verifyForm.valid">
            <button class="btn btn-primary col-lg-15" (click)="verifyPassword()">Verify</button>
        </div>
    </div>
</form>

<form [formGroup]="forgotPassword" *ngIf="submitted2">
	<div class="mx-auto col-10 col-md-8 col-lg-6 row">
        <div class="col-lg-15 mb-6 p-2">
            <label for="validationDefaultUsername">Password</label>
            <input type="password" class="form-control" formControlName="password" id="validationDefaultUsername"
                placeholder="Password" aria-describedby="inputGroupPrepend2" required>
            <small id="passwordHelpBlock" class="form-text text-muted">
                Your password must be 8-15 characters long, contain letters and numbers,special characters and must not contain spaces or emoji.
                
            </small>
            <mat-error
                *ngIf="forgotPassword.controls['password'].errors?.['required'] && forgotPassword.controls['password'].touched">Password
                is required</mat-error>
            <mat-error
                *ngIf="(!forgotPassword.controls['password'].errors?.['required'] && forgotPassword.controls['password'].invalid) && forgotPassword.controls['password'].touched">
                <ul>
                    <li>Password must contain 1 capital letter</li>
                    <li>Password must contain 1 small letter</li>
                    <li>Password must contain 1 numeric character</li>
                    <li>Password must contain 1 special character</li>
                    <li>Password must be of length 8 to 15 characters</li>
                </ul>
            </mat-error>
        </div>
        <div class="col-lg-15 mb-6 p-2">
            <label for="validationDefaultUsername">Confirm Password</label>
            <input type="password" class="form-control" formControlName="confirmPassword" id="validationDefaultUsername"
                placeholder="Confirm Password" aria-describedby="inputGroupPrepend2" required>
            <mat-error
                *ngIf="forgotPassword.controls['confirmPassword'].errors?.['required'] && forgotPassword.controls['confirmPassword'].touched">Password
                is required</mat-error>
            <mat-error
                *ngIf="(forgotPassword.controls['password'].value != forgotPassword.controls['confirmPassword'].value) && forgotPassword.controls['confirmPassword'].touched">
                Your password does not match the above
            </mat-error>
        </div>
        <div class="col-md-6 mb-2 p-2" *ngIf="forgotPassword.valid && (forgotPassword.controls['password'].value === forgotPassword.controls['confirmPassword'].value)">
            <button class="btn btn-primary col-lg-15" (click)="forgot()">Submit</button>
        </div>
    </div>
</form>

