<div class="heading">
	<span [routerLink]="['']" class="previous round">&#8249;</span>
    <h1>Welcome Back</h1>
</div>
<div class="container" *ngIf="!submitted">
	<div class="screen">
		<div class="screen__content">
			<form class="login" [formGroup]="loginForm">
				<div class="login__field">
					<i class="login__icon fas fa-user"></i>
					<input type="text" class="login__input" placeholder="User name / Email" formControlName="email">
				</div>
				&nbsp;
                <mat-error *ngIf="loginForm.controls['email'].errors?.['required'] && loginForm.controls['email'].touched">
                    Email is required for login
                </mat-error>
				<div class="login__field">
					<i class="login__icon fas fa-lock"></i>
					<input type="password" class="login__input" placeholder="Password" formControlName="password">
				</div>
				&nbsp;
				<mat-error *ngIf="loginForm.controls['password'].errors?.['required'] && loginForm.controls['password'].touched">
                    Password is required for login
                </mat-error>
				
				<button class="button login__submit" *ngIf="loginForm.valid" (click)="login()">
					<span class="button__text">Log In Now</span>
					<i class="button__icon fas fa-chevron-right"></i>
				</button>
				<mat-error class="login-error" *ngIf="loginError">
                    Password or Email not Valid
                </mat-error>
			</form>
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>		
	</div>
</div>

<div class="heading">
	<h4 [routerLink]="['/register']">
		New User? 
			Create an account
	</h4>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<div class="cursor-pointer">
		<h4 (click)="ForgetPassword()">
			Forget Password
		</h4>
	</div>
</div>

<ng-template #forgetPasswordDialog>
	
</ng-template>