<div class="p-2 text-center bg-light">
	<h1 class="mb-2">Login Form</h1>
</div>
<div class="mx-auto col-10 col-md-8 col-lg-6 row">
	<h2 *ngIf="loginError" class="text-danger">Incorrect Email or password</h2>
</div>


<form [formGroup]="loginForm" *ngIf="!submitted">
	<div class="mx-auto col-10 col-md-8 col-lg-6 row">
		<div class="col-lg-15 mb-6 p-2">
			<label for="validationDefaultUsername">Email</label>
			<input type="email" class="form-control" formControlName="email" id="validationDefaultUsername"
				placeholder="Email" aria-describedby="inputGroupPrepend2" required>
			<mat-error
				*ngIf="loginForm.controls['email'].errors?.['required'] && loginForm.controls['email'].touched">Email
				is required</mat-error>
			<mat-error
				*ngIf="(!loginForm.controls['email'].errors?.['required'] && loginForm.controls['email'].invalid) && loginForm.controls['email'].touched">Email
				format is invalid</mat-error>
		</div>
		<div class="col-lg-15 mb-6 p-2">
			<label for="validationDefaultUsername">Password</label>
			<input type="password" class="form-control" formControlName="password" id="validationDefaultUsername"
				placeholder="Password" aria-describedby="inputGroupPrepend2" required>
			<mat-error
				*ngIf="loginForm.controls['password'].errors?.['required'] && loginForm.controls['password'].touched">Password
				is required</mat-error>
		</div>
		<div class="col-md-6 mb-2" *ngIf="loginForm.valid">
            <button class="btn btn-primary col-lg-15" (click)="login()">Login</button>
        </div>
	</div>
</form>