<div class="landing">
    <div class="hero">
   
        <div class="app-heading">
            GYMGOALS   
        </div>
        <div class="three-cards">
            <figure class="snip1091 red"><img src="../../../assets/image1.jpg" alt="sq-sample6"/>
                <figcaption>
                  <h2>Gym  <span>Buddy</span></h2>
                </figcaption><a href="#"></a>
              </figure>
              <figure class="snip1091 green"><img src="../../../assets/image2.jpg" alt="sq-sample14"/>
                <figcaption>
                  <h2>Personal   <span>Trainer</span></h2>
                </figcaption><a href="#"></a>
              </figure>
              <figure class="snip1091 navy"><img src="../../../assets/image3.jpg" alt="sq-sample10"/>
                <figcaption>
                  <h2>Fitness  <span>Companion</span></h2>
                </figcaption><a href="#"></a>
              </figure>
        </div>
    </div>
</div>




